# dependencies
node_modules/
frontend/node_modules/
backend/node_modules/

# uploads
/backend/uploads
backend/uploads/

# testing
/coverage

# next.js / vite / build output
/.next/
/out/
/build
/dist
/frontend/.next/
/frontend/out/
/frontend/build
/frontend/dist
dist/
frontend/dist/

# misc
.DS_Store
*.pem

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-debug.log*

# local env files
.env*.local
.env
.env.development
.env.test
.env.production

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
